p.star {
    background: url(./images/star0.png); 
    display: inline-block; /*  Рисунок как строчно-блочный элемент */
    width: 75px; /* Ширина рисунка */
    height: 78px; /*  Высота рисунка */
    margin-left: 10px;
    margin-right: 10px;    
   }
   

p.star:hover,
p.star:hover ~ p {
    background: url(./images/star1.png); /* Путь к файлу с заменяемым рисунком  */ 
    /* transform: rotate(180deg);*/
   }

div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;           
}

